body{

    background: linear-gradient(to bottom, black 95%,  gray 100%);
  
  width: 100%;
  height:2500px;
  position:relative;
}

@font-face {
    font-family: Arapey;
    src: url("../../fonts/Arapey-Regular.ttf");
}
h1{
    color: white;
    font-family: Arapey;
    font-size: 68px;
    font-weight: 100;
   
   
   
}

#aboutTitleContainer{
    display: flex;
    justify-content: center;
    align-items: center; 
    color: white;

}

.aboutContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h3{
    color: white;
    font-family: Arapey;
    font-size: 28px;
    font-weight:100;
   
}

#picContainer {
    display: flex;
    justify-content: center;
    margin-top: 200vh;
    /* margin-bottom: 5vh; */
}



#joeyTitle{
    font-size: 44px;
    font-family: Arapey;
  
    margin-top:5%;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: white;
}

#aboutPara{
    font-size: 24px;
    font-family: Arapey;
  
    margin-top:5%;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    color: white;
    margin-right: 10vw;
    margin-left:10vw;
}
#imgDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

#toolContainer {
    height: 300px;
    width: 600px;
    background-color: grey;
    opacity: 0.7;
}

.centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.nameTitleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.titleContainer{
    display: flex;
    justify-content: center;
    align-items: center;

flex-wrap:nowrap;

}

.binaryOwl{
    opacity: 0; /* Start with 0 opacity */
    animation: fadeIn 7s ease-in-out forwards;

   
    position: relative; 
    filter: blur(1px); /* Adjust the blur radius as needed */
   
}

@keyframes fadeIn {
   0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        filter: blur(10px);


    }
   75%{
        opacity: 0.5;
        filter: blur(5px);
    }
    100%{

        opacity: 0.3;

    }
}

.binaryOwl::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../../owlPic.png") no-repeat center center;
    background-size: cover;
    filter: blur(0px); /* Adjust the blur radius as needed */
    border-radius: inherit;
    z-index: -1;
}

.iconContainer{
    background-color: white;
    height: 300px;
    width: 750px;
}

#toolTitle, #projectDiv {
    color: white;
    font: Arapey;
    font-size: 48px;
    font-weight:lighter;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconContainer {
    display: flex;
    flex-wrap: wrap; /* Wrap items to the next line if they don't fit */
    gap: 10px; /* Adjust the gap between items as needed */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

.iconContainer img {
    max-width: 100%; /* Ensure images don't exceed their container width */
    height: auto; /* Maintain aspect ratio */
}


.buttonDiv{
    display:flex;
    justify-content: center;
    margin-top:1.5vh;

}

.carouselContainer {
    text-align: center;
  }
  
  .imageWrapper {
    position: relative;
  }
  

  
  img.active {
    opacity: 1;
  }
